// Developer: Truce R

//////////////////////////////////////////////
// CONTAINER
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light--2);
  box-shadow: var(--shadow-dark);

  @include respond(breakPoint-largest) {
    margin: 0;
    max-width: 100%;
  }
}

//////////////////////////////////////////////
// HEADER
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--border-1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(breakPoint-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}

.user-block {
  color: var(--color-primary);
  background-color: var(--color-grey-dark--1);
  width: 75%;
  position: absolute;
  top: 100%;
  right: 0;

  height: 0;
  overflow: hidden;
  transition: all 300ms;
  z-index: 4;
}

//////////////////////////////////////////////
// CONTENT
.content {
  display: flex;

  @include respond(breakPoint-medium) {
    flex-direction: column;
  }
}

//////////////////////////////////////////////
// SIDEBAR
.side-bar {
  background-color: var(--color-grey-dark--1);
  // grow | shrink | basis
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//////////////////////////////////////////////
// HOTEL VIEW
.hotel-view {
  background-color: #fff;

  // element should grow as much as it can
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light--2);
  border-bottom: var(--border-1);
  font-size: 1.4rem;

  @include respond(breakPoint-medium) {
    padding: 3rem;
  }

  @include respond(breakPoint-small) {
    flex-direction: column;
  }
}

.description {
  // 0 grow | 0 shrink | 60% basis (width)
  flex: 0 0 55%;
  margin-right: 4.5rem;
  background-color: white;
  box-sizing: var(--shadow-light);
  padding: 3rem;

  @include respond(breakPoint-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @include respond(breakPoint-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  // fill leftover space
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
