//////////////////////////////////////////////
// CONTAINER
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light--2);
  box-shadow: var(--shadow-dark);

  //testing purposes - remove this!
  min-height: 50rem;
}

//////////////////////////////////////////////
// HEADER
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light--2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//////////////////////////////////////////////
// CONTENT
.content {
  display: flex;
}

//////////////////////////////////////////////
// SIDEBAR
.side-bar {
  background-color: var(--color-grey-dark--1);
  // grow | shrink | basis
  flex: 0 0 18%;
}

//////////////////////////////////////////////
// HOTEL VIEW
.hotel-view {
  background-color: #fff;

  // element should grow as much as it can
  flex: 1;

  //testing purposes - remove this!
  background-color: orangered;
}

//////////////////////////////////////////////
// FOOTER
.footer {
}
