// Developer: Truce R

//////////////////////////////////////////////
// CONTAINER
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light--2);
  box-shadow: var(--shadow-dark);

  //testing purposes - remove this!
  min-height: 50rem;
}

//////////////////////////////////////////////
// HEADER
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--border-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//////////////////////////////////////////////
// CONTENT
.content {
  display: flex;
}

//////////////////////////////////////////////
// SIDEBAR
.side-bar {
  background-color: var(--color-grey-dark--1);
  // grow | shrink | basis
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//////////////////////////////////////////////
// HOTEL VIEW
.hotel-view {
  background-color: #fff;

  // element should grow as much as it can
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light--2);
  border-bottom: var(--border-1);
}

.description {
  // 0 grow | 0 shrink | 60% basis (width)
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: white;
  box-sizing: var(--shadow-light);
  padding: 3rem;
  font-size: 1.4rem;
}

.user-reviews {
  // fill leftover space
  flex: 1;

  // testing remove this
  background-color: yellowgreen;
}

//////////////////////////////////////////////
// FOOTER
.footer {
}
